#include <stdexcept>

#include <Warnings.hxx>

namespace Warnings
{

std::vector<Warning> WarningsDefinitions = 
{
{% for ce in designInspector.objectify_config_entries('Warnings') %}
  {"{{ce.get('name')}}"}
{% endfor %}
};

void validateWarnings()
{
    for (auto& warningDefinition : Warnings::WarningsDefinitions)
    {
        if (warningDefinition.turnOn && warningDefinition.turnOff)
            throw std::runtime_error("Conflicting command line arguments for warning [" + warningDefinition.name + "]");
    }
}

}